.manager {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 1fr 30px;
  gap: 10px;
  height: 40vh;
  width: 40px;
  background-color: rgba(rgb(0, 102, 255), 0.2);
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
  z-index: 10;
  color: white;
  border-radius: 3px;
  padding: 5px;
}

.manager>* {
  margin-left: auto;
  margin-right: auto;
}

.manager img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 1px;
}

.manager input[type=range][orient=vertical] {
  writing-mode: vertical-lr;
  direction: ltr;
  appearance: slider-vertical;
  width: 16px;
  vertical-align: bottom;
}

.unselected {
  opacity: 0.5;
}